span {
  margin: 8px 0;
  display: block;
}

.card {
  background: var(--color-grey);
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-black);
  padding: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
}

.card:hover {
  transition: none 0.5s ease-in-out;
  transform: translateY(-5px);
  filter: drop-shadow(3px 3px 6px var(--color-black));
}

.pokemon-image-container {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
}

.pokemon-image {
  height: 230px;
}

.pokemon-info {
  padding-left: 8%;
  padding-right: 10px;
  padding-bottom: 20px;
}

.pokemon-id {
  font-size: 1em;
  color: var(--color-grey-drk);
}

.pokemon-name {
  font-size: 1.3em;
  text-transform: capitalize;
}

.pokemon-nickname {
  font-size: 1.6em;
  text-transform: capitalize;
  color: var(--color-blue);
}

.pokemon-captured,
.pokemon-total {
  display: inline-block;
  font-size: 0.8em;
}

.pokemon-total {
  font-weight: bold;
}

.captured {
  color: var(--color-blue);
}

.not-captured {
  color: var(--color-red);
}

.mypokemon-id {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-size: 1.5em;
  color: var(--color-grey-drk);
}
