p {
  margin: 8px 0;
}

.card {
  background: var(--color-grey);
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-black);
  padding: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transition: none 0.5s ease-in-out;
  transform: translateY(-5px);
  filter: drop-shadow(3px 3px 6px var(--color-black));
}

.pokemon-image-container {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
}

.pokemon-image {
  height: 230px;
}

.pokemon-info {
  padding-left: 8%;
  padding-right: 10px;
}

.pokemon-id {
  font-size: 100%;
  color: var(--color-grey-drk);
}

.pokemon-name {
  font-size: 150%;
  text-transform: capitalize;
}

.pokemon-owned {
  font-size: 75%;
}
