.modal {
	z-index: 999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

.modal.show {
	opacity: 1;
	pointer-events: visible;
}

.modal-content {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: relative;
	transform: translateY(-200px);
	transition: all 0.3s ease-in-out;

	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 250px;

	border: 5px solid var(--color-black);
	border-radius: 100px;
	background-image: linear-gradient(
		var(--color-red) 48%,
		var(--color-black) 53%,
		var(--color-white) 0
	);
}

.modal.show .modal-content {
	transform: translateY(0);
}

.modal-header,
.modal-footer {
	padding: 5px;
	width: 100%;
}

.modal-header {
	position: absolute;
	left: 50%;
	top: -25px;
	transform: translate(-50%, 0);

	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;

	background: var(--color-white);
	border-radius: 100px;
	width: 100%;
	max-width: 150px;
}

.modal-title {
	margin: 0;
}

.modal-body {
	padding: 0 30px;
	height: 50%;
	text-align: center;
	overflow: hidden;
}

.modal-body-text {
	font-size: 1.3em;
	font-weight: bold;
	color: var(--color-white);
	display: inline-block;
	margin: 0;
	margin-top: 40px;
}

input {
	outline: none;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 60%;
	height: 30px;
	border-radius: 100px;
	border: 3px solid var(--color-black);

	text-align: center;
}

.input-error {
	border: 2px solid var(--color-red-drk);
	box-shadow: 0px -10px 15px 15px rgb(255 0 0 / 70%);
}

.error-text {
	width: 100%;
	padding: 0 5px;
	position: absolute;
	font-size: 0.65em;
	font-weight: bold;
	color: var(--color-red-drk);

	margin: 0;
	position: absolute;
	left: 50%;
	top: calc(50% + 30px);
	transform: translate(-50%, -50%);
}

.modal-footer {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	height: 50%;
}

.footer-error {
	transform: translateY(15px);
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
	.modal-content {
		width: 280px;
		height: 200px;
	}

	.modal-body-text {
		font-size: 1.15em;
		margin-top: 25px;
	}

	.error-text {
		font-size: 0.5em;
		top: calc(50% + 25px);
	}
}
