.btn-prev,
.btn-next {
	text-align: center;
}

.pagination {
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 100%;
	padding: 20px 5px 0;
}

.btn-prev {
	margin-right: 20px;
}

.btn-next {
	margin-left: 20px;
}

.single-btn {
	margin-left: 0px;
}

.icon-box-container {
	position: absolute;
	left: 50%;
	top: 100px;
	cursor: pointer;
	transform: translate(-50%, 0);
}

.icon-box-container:hover {
	transform: translate(-20px, -5px);
	filter: drop-shadow(2px 4px 4px var(--color-black));
}

.icon-box {
	width: 50px;
	height: 100%;
}

@media screen and (max-width: 640px) {
	.load-more {
		position: relative;
		text-align: center;
	}

	.btn-prev {
		left: 40px;
	}

	.btn-next {
		right: 40px;
	}
}
