.h1 {
  font-size: 50px;
  color: var(--color-black);
  font-weight: bold;
}

.load-more {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .load-more {
    position: relative;
    text-align: center;
  }
}
