/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;

  --color-black: #212121;
  --color-white: #ffffff;
  --color-grey: #eae9e9;
  --color-grey-lg: #f9f9f9;
  --color-grey-dk: #898888;

  --color-red: #ff0000;
  --color-unvred: #cc0000;
  --color-blue: #3b4cca;
  --color-yellow: #ffde00;
  --color-gold: #b3a125;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.c-page {
  background-color: var(--color-grey-lg);
}

.grid-container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  padding: 20px 5px 20px 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
